@charset "UTF-8";
/* CSS Document */

body {
    -khtml-transition: padding .2s ease-out;
    -moz-transition: padding .2s ease-out;
    -ms-transition: padding .2s ease-out;
    -o-transition: padding .2s ease-out;
    -webkit-transition: padding .2s ease-out;
    background-color: #fff !important;
    margin-top: -100px;

}

body.transition {
    padding-top: 100px;
}


.headerContainer {
    width: 100%;
    padding: 0;
    z-index: 999;
    margin-top: -200px;
    position: fixed;
}

.loaded .headerContainer {
    width: 100%;
    padding: 0;
    z-index: 999;
    margin-top: -100px;
    position: fixed;
    -khtml-transition: margin-top .8s ease-out;
    -moz-transition: margin-top .8s ease-out;
    -ms-transition: margin-top .8s ease-out;
    -o-transition: margin-top .8s ease-out;
    -webkit-transition: margin-top .8s ease-out;
    transition-delay: .6s;
    -webkit-transition-delay: .6s;
}



a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;

}

ul, li {
    list-style-type: none;
}


.logo {
    float: left;
    height: 35px;
    width: 35px;
    margin-left: 15px;
    margin-top: 36px;
    background-color: transparent;
         -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
  }

.scroll-100 .logo {
 margin-top: 26px;
      -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;

}

.logo img {
    width: 100%;
    height: auto;
}

.menuButton {
    float: right;
    height: 80px;
    width: 28px;
    cursor: pointer;
    padding-top: 43px;
    margin-right: 15px;
          -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}


.scroll-100 .menuButton {
      padding-top: 33px;
          -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}


.menuLines {
    width: 25px;
    height: 3px;
    float: left;
    margin-bottom: 3px;
    background-color: #778596;
    border-radius: 1px;
}





.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}


.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.twitter {
    background-color: #FFC853;
    background-image: url(../i/social_sprite.png);
    background-repeat: no-repeat;
    background-position: center 34px;
    background-size: 44px;
    height: 100px;
    -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;

}

.twitter:hover {
    background-color: #00abf0;
    background-image: url(../i/social_sprite.png);
    background-repeat: no-repeat;
    background-position: center 34px;
    background-size: 44px;
    height: 100px;
        -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.dribbble {
    background-color: #FFC853;
    background-image: url(../i/social_sprite.png);
    background-repeat: no-repeat;
    background-position: center -50px;
    background-size: 44px;
    height: 100px;
    -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.dribbble:hover {
    background-color: #ea4c89;
    background-image: url(../i/social_sprite.png);
    background-repeat: no-repeat;
    background-position: center -50px;
    background-size: 44px;
    height: 100px;
     -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.instagram {
    background-color: #FFC853;
    background-image: url(../i/social_sprite.png);
    background-repeat: no-repeat;
    background-position: center -134px;
    background-size: 44px;
    height: 100px;
     -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.instagram:hover {
    background-color: #4f7ca0;
    background-image: url(../i/social_sprite.png);
    background-repeat: no-repeat;
    background-position: center -134px;
    background-size: 44px;
    height: 100px;
     -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;

}

.email {
    background-color: #FFC853;
    background-image: url(../i/social_sprite.png);
    background-repeat: no-repeat;
    background-position: center -219px;
    background-size: 44px;
    height: 100px;
     -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.email:hover {
    background-color: #08ec99;
    background-image: url(../i/social_sprite.png);
    background-repeat: no-repeat;
    background-position: center -219px;
    background-size: 44px;
    height: 100px;
     -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.navigation {
    height: 100px;
    background: #fff; 
     -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}


.scroll-100 .navigation {
height: 80px;
background: #fff; 
 -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.2);
 -moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.2);
     -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}



#fadein {
    opacity: 0;
    margin-top: -30px
}

.loaded #fadein {
    margin-top: 0;
    opacity: 1;
     -khtml-transition: all .7s ease-out;
    -moz-transition: all .7s ease-out;
    -ms-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;
    transition-delay: .6s;
    -webkit-transition-delay: .6s;
}


.work h1 {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    color: #353b4c;
    padding-top: 60px;
}


.footer {
    float: left;
    width: 100%;
    min-height: 450px;
    height: auto;
    background-image: none;
    background-size: cover;
    background-position: center bottom;
    padding-top: 60px;
}


.top-section {
    min-height: 748px;
    background-color: #353b4c;
    padding-top: 100px;
}

.top-section h1 {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 110px;
   
}


@media all and (max-width: 460px) {

.line2 {
    width: 200px;
    height: 4px;
    background-color: #eaebef;
    margin: 30px auto !important;
    margin-bottom: 50px !important;
}


.project-image img {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px !important;
    margin-top: 0px;
}


.project-button {
    text-align: center;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 30px 20px 30px;
    border-radius: 3px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 40px !important; 
    margin-bottom: 50px !important;
}

.browser img {
    padding-bottom: 10px !important;
}

.websblue {
    padding-top: 40px !important;
}

.okgreen {
    padding-top: 40px !important;
}

.yellow {
    padding-top: 40px !important;
}

.instagramblue {
    padding-top: 40px !important;
}

.projectinstagram {
    padding-top: 0px !important;
}

    .connect h1 {
        font-size: 26px !important;
    }

.connect p {
    font-size: 16px !important;
    line-height: 27px !important;
}

.contact h1 {
    font-size: 26px !important;
}

.contact p {
    font-size: 16px !important;
    line-height: 27px !important;
}

.project h1 {
    text-align: center;
    font-size: 26px !important;
    line-height: 36px !important;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.project p {
    text-align: center;
    font-size: 16px !important;
    line-height: 27px !important;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 550px;
    margin: 20px auto !important;
    font-family: 'Open Sans', sans-serif;
}



.work h1 {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 22px;
    line-height: 44px;
    color: #353b4c;
    padding-top: 30px;
}


.talk-button {
  margin-bottom: 50px !important;
}

    .top-section {
    min-height: 350px !important;
    background-color: #353b4c;
    padding-top: 100px;
}

.top-section h1 {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 26px;
    line-height: 44px;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 60px;
   }

.top-section h2 {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-align: center;
    font-size: 22px !important;
    color: #fff;
    padding-top: 5px;
    line-height: 30px !important;
    padding-left: 20px;
    padding-right: 20px;
}

.top-section p {
    color: #979daf;
    text-align: center;
    padding-top: 35px !important;
    font-size: 16px !important;
    line-height: 27px !important;
    font-family: 'Open Sans', sans-serif;
    max-width: 660px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    }
}


.top-section h2 {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-align: center;
    font-size: 26px;
    color: #fff;
    padding-top: 5px;
    line-height: 44px;
    padding-left: 20px;
    padding-right: 20px;
}

.top-section p {
    color: #979daf;
    text-align: center;
    padding-top: 55px;
    font-size: 20px;
    line-height: 34px;
    font-family: 'Open Sans', sans-serif;
    max-width: 660px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.top-section p a {
color: #fff;
-khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.top-section p a:hover {
    text-decoration: none;
color: #00acee;
-khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.top-section p a:active {
color: #fff;
}


.talk-button {
    color: #08ec99;
    height: 80px;
    border: 4px solid #08ec99;
    border-radius: 3px;
    width: 300px;
    margin: 60px auto;
    margin-bottom: 100px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 0;
    -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.talk-button ul {
    margin-top: -45px;
    float: left;
    width: 300px;
    padding-left: 0;
     -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.talk-button ul li {
    text-align: center;
    height: 60px;
    font-size: 26px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 290px;
    
}


.talk-button:hover ul {
    margin-top: 23px;
    color: #fff;
    khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
 }

.talk-button:hover {
    background-color: #08ec99;
    khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}


.email-button {
    color: #fff;
    text-decoration: none;
    font-size: 20px !important;
    padding: 0;
}


.project-button {
    text-align: center;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 30px 20px 30px;
    border-radius: 3px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
}


.project h1 {
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.project p {
    text-align: center;
    font-size: 20px;
    line-height: 34px;
    max-width: 550px;
    margin: 30px auto;
    font-family: 'Open Sans', sans-serif;
}


.connect h1 {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  color: #353b4c;
  padding-bottom: 30px;
  padding-top: 130px;
}

.connect p {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  color: #979daf;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


.follow-container {
    max-width: 600px;
    margin: 50px auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 130px;
}

.follow-twitter {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 55px;
    background-color: #00acee;
    height: 60px;
    width: 47%;
    float: left;
    border-radius: 30px;
    border: 2px solid #019cd7;
    background-image: url(../i/twitter_logo.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 30px;
    cursor: pointer;
        khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.follow-twitter:hover {
    background-color: #33bcf1;
        khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.follow-dribbble {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 55px;
    background-color: #ea4c89;
    height: 60px;
    width: 47%;
    float: left;
    border-radius: 30px;
    border: 2px solid #d03973;
    background-image: url(../i/dribbble_logo.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 30px;
    cursor: pointer;
        khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.follow-dribbble:hover {
    background-color: #ec5e95;
        khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.spacing {
    float: left;
    width: 6%;
    height: 60px;
}

@media all and (max-width: 460px) {

    .follow-twitter {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 55px;
    background-color: #00acee;
    height: 60px;
    width: 100%;
    float: left;
    border-radius: 30px;
    border: 2px solid #019cd7;
    background-image: url(../i/twitter_logo.png);
    background-repeat: no-repeat;
    background-position: 15px 12px;
    background-size: 30px;
}

.follow-dribbble {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 55px;
    background-color: #ea4c89;
    height: 60px;
    width: 100%;
    float: left;
    border-radius: 30px;
    border: 2px solid #d03973;
    background-image: url(../i/dribbble_logo.png);
    background-repeat: no-repeat;
    background-position: 12px 13px;
    background-size: 30px;
    margin-bottom: 20px;
}

.spacing {
    float: left;
    width: 6%;
    height: 60px;
    display: none;
}

}


.contact {
    background-color: #fafbfc;
    border-top: 1px solid #eceff2;
    border-bottom: 1px solid #eceff2;
    }

.contact h1 {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  color: #353b4c;
  padding-bottom: 30px;
  padding-top: 100px;
}


.contact p {
  font-family: 'Open Sans', sans-serif;
  max-width: 650px;
  text-align: center;
  line-height: 36px;
  color: #979daf;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

footer {
    padding-top: 40px;
}

footer p {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 36px;
  color: #c9cccf;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}


.footer-links {
    max-width: 320px;
    margin: 30px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-links li {
    float: left;
    text-align: center;
    width: 33.33333333%;
    padding-bottom: 40px;
    color: #c9cccf;

}

.footer-logo {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    margin-bottom: 40px;
}

.footer-logo img {
    width: 100%;
    height: auto;
}

.dribbble-shots img {
    width: 100%;
    height: auto;
}

.dribbble-shots .col-sm-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.dribbble-shots p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #353b4c;
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

.shot img{

    background-color: #353b4d;
    background-image: url(../i/loader_dark_2x.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 74px;
}

.shot:hover .shot-description {
    opacity: 1;
      background-color: #ea4c89;
    background-image: url(../i/open.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 64px;
    cursor: pointer;
    -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}




.shot-description {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ea4c89;
    background-image: url(../i/open.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 54px;
    opacity: 0;
    -khtml-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    }

.dribbble-logo {
    width: 170px;
    height: 44px;
    margin: 0 auto;
    padding-bottom: 80px;

}

.dribbble-logo img {
    width: 100%;
    height: auto;
}


.line {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
}


.line2 {
    width: 200px;
    height: 4px;
    background-color: #eaebef;
    margin: 40px auto;
    margin-bottom: 100px;
}

.button-dark {
    border: 4px solid #979daf;
    color: #979daf;
}

.button-blue {
    border: 4px solid #353b4c;
    color: #353b4c;
}

.button-white {
    border: 4px solid #fff;
    color: #fff;
}


.description-dark {
    color: #979daf;
}

.white {
    color: #fff;
}

.dark {
    color:#353b4c;
}

.dark a {
    text-decoration: none;
}


.dark a:hover {
    text-decoration: none;
}

.project-image img {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;
    margin-top: 0px;
}

.shop {
    max-width: 439px;
    margin: 0 auto;
}

.shop-icon {
        max-width: 501px;
    margin: 0 auto;
}

.peeek {
    max-width: 800px;
    margin: 0 auto;

}



.projectinstagram {
    max-width: 914px;
    padding-top: 100px;
    margin:0 auto;

}

.animations {
    max-width: 800px;
    margin: 0 auto;
}

.browser {
    max-width: 820px;
    height: auto;
    margin: 0 auto;
}

.browser-header {
    width: 100%;
    height: 40px;
    background-color: #f3f3f3;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.browser-buttons {
    height: 10px;
    width: 10px;
    border-radius: 25px;
    background-color: #ccc;
    float: left;
    margin-left: 10px;
    margin-top: 15px;

}

.browser img {
    width: 100%;
    height: auto;
    padding-bottom: 60px;
}

@media all and (max-width: 460px) {

.browser-header {
    display: none;

}
}



.form-input {
    height: 80px;
    border: 1px solid #edeeef;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #353b4c;
    margin-top: 20px;
}


.message-input {
    height: 200px;
    border: 1px solid #edeeef;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #353b4c;
    margin-top: 20px;
    margin-bottom: 20px;
}


textarea {
    resize: none;
}

.button-center {
    width: 300px;
    margin: 0 auto;
}

.button-center a {
    text-decoration: none;
}

.button-center a:hover {
    text-decoration: none;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}

#status {
     width: 74px;
    height: 64px;
    left: 50%;
    margin: -37px 0 0 -37px;
    position: absolute;
    top: 50%;
    }

#status img {
    width: 74px;
    height: 64px;
}


.blue {
    background-color: #2c3035;
    padding-top: 100px;
}

.yellow {
    background-color: #E4C134;
    padding-top: 100px;
}

.cyan {
    background-color: #96c3c3;
}

.red {
    background-color: #ec4b40;
    padding-top: 60px;
}

.instagramblue {
        background-color: #4f7ca0;
}

.green {
    color: #08ec99;
}

.okgreen {
    background-color: #07d589;
    padding-top: 100px;
}

.websblue {
    background-color: #1ea9d8;
    padding-top: 100px;
}

.show {
	background-color: green;
    height: 40px;

}

.show1 {
    background-color: blue;
    height: 40px;
}


.show2 {
    background-color: orange;
    height: 40px;
}

